<div class="gradient-intro-wrapper"><div class="container-w1 gutter-outside"><div class="text-center"><h2 class="hero_heading">
{{ section.settings.text_headline }}
</h2>
<div class="spacer-medium"></div><a href="https://www.liquify.pro/docu/welcome" target="_blank" class="button w-button">Read the Docs</a></div></div></div><div class="div-block"><img src="{{ 'hero.webp' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" srcset="{{ 'hero-p-500.webp' | asset_url }} 500w, {{ 'hero-p-800.webp' | asset_url }} 800w, {{ 'hero-p-1080.webp' | asset_url }} 1080w, {{ 'hero-p-1600.webp' | asset_url }} 1600w, {{ 'hero.webp' | asset_url }} 2000w" alt="" class="image">
<div class="div-block-2"></div></div> {% schema %} {"tag":"div","name":"Liquify-Hero","class":"section-ultra-gradients","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Shop Liquify"}],"presets":[{"name":"Liquify-Hero","category":"Liquify","blocks":[]}]} {% endschema %}