<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="team20_component"><div class="w-layout-grid team20_content"><div class="team20_content-left"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_title }}
</h2>
</div><p class="text-size-medium">
{{ section.settings.text_content }}
</p>
</div><div class="w-dyn-list"><div role="list" class="team20_list w-dyn-items"><div role="listitem" class="team20_item w-dyn-item"><div class="margin-bottom margin-small"><div class="team20_image-wrapper"><img li-object="Image" loading="lazy" alt="" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" class="team20_image w-dyn-bind-empty">
</div></div><div class="margin-bottom margin-xsmall"><div class="team20_title-wrapper"><div li-object="Nombre" class="text-size-large text-weight-semibold w-dyn-bind-empty">{{ Nombre }}</div><div li-object="Description" class="text-size-medium w-dyn-bind-empty">{{ Description }}</div></div></div></div></div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Team","class":"section_team20","settings":[{"id":"text_title","type":"text","label":"Title","default":"Our team"},{"id":"text_content","type":"text","label":"Content","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."}],"presets":[{"name":"Team","category":"Liquify","blocks":[]}]} {% endschema %}